#/etc/systemd/system/asterisk.service
[Unit]
Description=AllStar Asterisk
Documentation=man:asterisk(8)
Wants=network.target
After=network-online.target

[Service]
Type=simple
# StandardOutput=null
ExecStartPre=mkdir -p /run/asterisk
ExecStart=/usr/sbin/asterisk -g -f
ExecStop=/usr/sbin/asterisk -rx 'stop now'
ExecReload=/usr/sbin/asterisk -rx 'module reload'

# safe_asterisk emulation
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
Alias=asterisk.service
