#### UCF file created by Project Navigator
NET "addr<10>" LOC = "P101";
NET "addr<11>" LOC = "P102";
NET "addr<2>" LOC = "P90";
NET "addr<3>" LOC = "P94";
NET "addr<4>" LOC = "P95";
NET "addr<5>" LOC = "P96";
NET "addr<6>" LOC = "P97";
NET "addr<7>" LOC = "P98";
NET "addr<8>" LOC = "P99";
NET "addr<9>" LOC = "P100";
NET "be<0>" LOC = "P109";
NET "be<1>" LOC = "P110";
NET "be<2>" LOC = "P111";
NET "be<3>" LOC = "P112";
NET "clk8192" LOC = "P77";
NET "cs<1>" LOC = "P120";
NET "cs<2>" LOC = "P121";
NET "cs<3>" LOC = "P122";
NET "cs<4>" LOC = "P123";
NET "d<0>" LOC = "P153";
NET "d<10>" LOC = "P59";
NET "d<11>" LOC = "P60";
NET "d<12>" LOC = "P61";
NET "d<13>" LOC = "P62";
NET "d<14>" LOC = "P63";
NET "d<15>" LOC = "P67";
NET "d<16>" LOC = "P68";
NET "d<17>" LOC = "P69";
NET "d<18>" LOC = "P70";
NET "d<19>" LOC = "P71";
NET "d<1>" LOC = "P146";
NET "d<20>" LOC = "P73";
NET "d<21>" LOC = "P74";
NET "d<22>" LOC = "P75";
NET "d<23>" LOC = "P150";
NET "d<24>" LOC = "P81";
NET "d<25>" LOC = "P82";
NET "d<26>" LOC = "P83";
NET "d<27>" LOC = "P84";
NET "d<28>" LOC = "P86";
NET "d<29>" LOC = "P87";
NET "d<2>" LOC = "P142";
NET "d<30>" LOC = "P88";
NET "d<31>" LOC = "P89";
NET "d<3>" LOC = "P135";
NET "d<4>" LOC = "P126";
NET "d<5>" LOC = "P119";
NET "d<6>" LOC = "P115";
NET "d<7>" LOC = "P108";
NET "d<8>" LOC = "P57";
NET "d<9>" LOC = "P58";
NET "dint" LOC = "P148";
NET "drd" LOC = "P127";
NET "dwr" LOC = "P125";
NET "int" LOC = "P114";
NET "khz8000" LOC = "P149";
NET "rclk<0>" LOC = "P136";
NET "rclk<1>" LOC = "P138";
NET "rclk<2>" LOC = "P139";
NET "rclk<3>" LOC = "P140";
NET "rclk<4>" LOC = "P141";
NET "rclko" LOC = "P147";
NET "rd" LOC = "P113";
NET "ready" LOC = "P154";
NET "rser" LOC = "P133";
NET "rsync" LOC = "P129";
NET "tssync" LOC = "P132";
NET "tser" LOC = "P134";
NET "wr" LOC = "P160";
NET "addr<2>" IOSTANDARD = LVTTL;
NET "addr<3>" IOSTANDARD = LVTTL;
NET "addr<4>" IOSTANDARD = LVTTL;
NET "addr<5>" IOSTANDARD = LVTTL;
NET "addr<6>" IOSTANDARD = LVTTL;
NET "addr<7>" IOSTANDARD = LVTTL;
NET "addr<8>" IOSTANDARD = LVTTL;
NET "addr<9>" IOSTANDARD = LVTTL;
NET "addr<10>" IOSTANDARD = LVTTL;
NET "addr<11>" IOSTANDARD = LVTTL;
NET "be<0>" IOSTANDARD = LVTTL;
NET "be<1>" IOSTANDARD = LVTTL;
NET "be<2>" IOSTANDARD = LVTTL;
NET "be<3>" IOSTANDARD = LVTTL;
NET "clk8192" IOSTANDARD = LVTTL;
NET "cs<1>" IOSTANDARD = LVTTL;
NET "cs<2>" IOSTANDARD = LVTTL;
NET "cs<3>" IOSTANDARD = LVTTL;
NET "cs<4>" IOSTANDARD = LVTTL;
NET "d<0>" IOSTANDARD = LVTTL;
NET "d<1>" IOSTANDARD = LVTTL;
NET "d<2>" IOSTANDARD = LVTTL;
NET "d<3>" IOSTANDARD = LVTTL;
NET "d<4>" IOSTANDARD = LVTTL;
NET "d<5>" IOSTANDARD = LVTTL;
NET "d<6>" IOSTANDARD = LVTTL;
NET "d<7>" IOSTANDARD = LVTTL;
NET "d<8>" IOSTANDARD = LVTTL;
NET "d<9>" IOSTANDARD = LVTTL;
NET "d<10>" IOSTANDARD = LVTTL;
NET "d<11>" IOSTANDARD = LVTTL;
NET "d<12>" IOSTANDARD = LVTTL;
NET "d<13>" IOSTANDARD = LVTTL;
NET "d<14>" IOSTANDARD = LVTTL;
NET "d<15>" IOSTANDARD = LVTTL;
NET "d<16>" IOSTANDARD = LVTTL;
NET "d<17>" IOSTANDARD = LVTTL;
NET "d<18>" IOSTANDARD = LVTTL;
NET "d<19>" IOSTANDARD = LVTTL;
NET "d<20>" IOSTANDARD = LVTTL;
NET "d<21>" IOSTANDARD = LVTTL;
NET "d<22>" IOSTANDARD = LVTTL;
NET "d<23>" IOSTANDARD = LVTTL;
NET "d<24>" IOSTANDARD = LVTTL;
NET "d<25>" IOSTANDARD = LVTTL;
NET "d<26>" IOSTANDARD = LVTTL;
NET "d<27>" IOSTANDARD = LVTTL;
NET "d<28>" IOSTANDARD = LVTTL;
NET "d<29>" IOSTANDARD = LVTTL;
NET "d<30>" IOSTANDARD = LVTTL;
NET "d<31>" IOSTANDARD = LVTTL;
NET "dint" IOSTANDARD = LVTTL;
NET "drd" IOSTANDARD = LVTTL;
NET "dwr" IOSTANDARD = LVTTL;
NET "int" IOSTANDARD = LVTTL;
NET "khz8000" IOSTANDARD = LVTTL;
NET "rclk<0>" IOSTANDARD = LVTTL;
NET "rclk<1>" IOSTANDARD = LVTTL;
NET "rclk<2>" IOSTANDARD = LVTTL;
NET "rclk<3>" IOSTANDARD = LVTTL;
NET "rclk<4>" IOSTANDARD = LVTTL;
NET "rclko" IOSTANDARD = LVTTL;
NET "rd" IOSTANDARD = LVTTL;
NET "ready" IOSTANDARD = LVTTL;
NET "rser" IOSTANDARD = LVTTL;
NET "rsync" IOSTANDARD = LVTTL;
NET "tssync" IOSTANDARD = LVTTL;
NET "tser" IOSTANDARD = LVTTL;
NET "wr" IOSTANDARD = LVTTL;
NET "clk" LOC = "P80";
NET "clk" IOSTANDARD = LVTTL;
NET "clk8192" IOSTANDARD = LVTTL;
NET "clk" IOSTANDARD = LVTTL;
NET "bterm" LOC = "P151";
NET "master" LOC = "P175";
NET "bterm" IOSTANDARD = LVTTL;
NET "clk" IOSTANDARD = LVTTL;
NET "clk8192" IOSTANDARD = LVTTL;
NET "leds<0>" IOSTANDARD = LVTTL;
NET "leds<1>" IOSTANDARD = LVTTL;
NET "leds<2>" IOSTANDARD = LVTTL;
NET "leds<3>" IOSTANDARD = LVTTL;
NET "leds<4>" IOSTANDARD = LVTTL;
NET "leds<5>" IOSTANDARD = LVTTL;
NET "leds<7>" IOSTANDARD = LVTTL;
NET "leds<6>" IOSTANDARD = LVTTL;
NET "master" IOSTANDARD = LVTTL;
NET "test1" IOSTANDARD = LVTTL;
NET "test2" IOSTANDARD = LVTTL;
NET "test3" IOSTANDARD = LVTTL;
NET "test4" IOSTANDARD = LVTTL;
NET "test1" LOC = "P203";
NET "test2" LOC = "P204";
NET "test3" LOC = "P205";
NET "test4" LOC = "P206";
NET "leds<0>" LOC = "P180";
NET "leds<1>" LOC = "P179";
NET "leds<2>" LOC = "P187";
NET "leds<3>" LOC = "P181";
NET "leds<4>" LOC = "P189";
NET "leds<5>" LOC = "P188";
NET "leds<6>" LOC = "P192";
NET "leds<7>" LOC = "P191";
NET "tssync" FAST;
NET "tser" FAST;
NET "rsync" FAST;
NET "boardid<0>" PULLUP;
NET "boardid<1>" PULLUP;
NET "boardid<2>" PULLUP;
NET "boardid<3>" PULLUP;
NET "boardid<0>" IOSTANDARD = LVTTL;
NET "boardid<1>" IOSTANDARD = LVTTL;
NET "boardid<2>" IOSTANDARD = LVTTL;
NET "boardid<3>" IOSTANDARD = LVTTL;
NET "boardid<0>" LOC = "P199";
NET "boardid<1>" LOC = "P200";
NET "boardid<2>" LOC = "P201";
NET "boardid<3>" LOC = "P202";
NET "xsyncin" IOSTANDARD = LVTTL;
NET "xsyncout" IOSTANDARD = LVTTL;
NET "xsyncin" LOC = "P176";
NET "xsyncout" LOC = "P178";
NET "clk" IOSTANDARD = LVTTL;
NET "clk8192" IOSTANDARD = LVTTL;
