#/usr/lib/systemd/system/updatenodelist.service
[Unit]
Description=AllStar NodeList updater
Wants=network.target
After=network-online.target
BindsTo=asterisk.service

[Service]
Type=simple
StandardOutput=null
ExecStart=/usr/local/bin/rc.updatenodelist &
ExecStop=/usr/bin/killall -9 rc.updatenodelist

# safe_emulation
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

