[general]

[1]
carrierfrom = hwinvert
ctcssfrom = hwinvert
invertptt = 0
duplex = 1
rxondelay = 0
eeprom = 0

[2]
carrierfrom = hwinvert
ctcssfrom = hwinvert
invertptt = 0
duplex = 1
rxondelay = 0
eeprom = 0

