;
; SIP Configuration example for Asterisk
;
; Syntax for specifying a SIP device in extensions.conf is
; SIP/devicename where devicename is defined in a section below.
;
; You may also use 
; SIP/username@domain to call any SIP user on the Internet
; (Don't forget to enable DNS SRV records if you want to use this)
; 
; If you define a SIP proxy as a peer below, you may call
; SIP/proxyhostname/user or SIP/user@proxyhostname 
; where the proxyhostname is defined in a section below 
; 
; Useful CLI commands to check peers/users:
;   sip show peers                Show all SIP peers (including friends)
;   sip show users                Show all SIP users (including friends)
;   sip show registry             Show status of hosts we register with
;
;   sip debug                     Show all SIP messages
;
;   module reload chan_sip.so     Reload configuration file
;                                 Active SIP peers will not be reconfigured
;

[general]
context = default		; Default context for incoming calls
allowoverlap = no		; Disable overlap dialing support. (Default is yes)
bindport = 5060			; UDP Port to bind to (SIP standard port is 5060)
bindaddr = 127.0.0.1		; IP address to bind to (0.0.0.0 binds to all)
srvlookup = yes			; Enable DNS SRV lookups on outbound calls
				; Note: Asterisk only uses the first host 
				; in SRV records
				; Disabling DNS SRV lookups disables the 
				; ability to place SIP calls based on domain 
				; names to some other SIP users on the Internet
				
