*.o
*.a
*.o.d
*.o_a
*.so
*.tar.gz
*.moduleinfo
*.makeopts
.lastclean
.version
.version.bak
agi/eagi-sphinx-test
agi/eagi-test
agi/strcompat.c
build-arch-stamp
build-indep-stamp
build_tools/menuselect-deps
channels/.chan_vpb.oo.d
channels/busy.h
channels/chan_vpb.oo
channels/gentone
channels/h323/Makefile
channels/ringtone.h
check-sounds
config.log
config.status
configure.debian_sav
defaults.h
doc/api/
include/asterisk/autoconfig.h
include/asterisk/build.h
include/asterisk/buildopts.h
include/asterisk/version.h
install-arch
main/asterisk
main/editline/Makefile
main/editline/common.h
main/editline/config.cache
main/editline/config.h
main/editline/config.log
main/editline/config.status
main/editline/editline.c
main/editline/emacs.h
main/editline/fcns.c
main/editline/fcns.h
main/editline/help.c
main/editline/help.h
main/editline/makelist
main/editline/vi.h
makeopts
makeopts.embed_rules
menuselect-tree
menuselect/autoconfig.h
menuselect/config.log
menuselect/config.status
menuselect/makeopts
menuselect/menuselect
menuselect/mxml/Makefile
menuselect/mxml/config.h
menuselect/mxml/config.log
menuselect/mxml/config.status
menuselect/mxml/mxml.list
utils/aelbison.c
utils/aelparse
utils/aelparse.c
utils/asl-reg
utils/ast_expr2.c
utils/ast_expr2f.c
utils/astman
utils/md5.c
utils/muted
utils/pbx_ael.c
utils/pi-tune-menu
utils/radio-tune-menu
utils/simpleusb-tune-menu
utils/smsq
utils/stereorize
utils/strcompat.c
utils/streamplayer
